/*

Fazendo um arquivo separado de CSS, ele pode estilizar vários outros arquivos html

TIPOS DE SELETOR BÁSICO e Hierarquia:
 1) Tag Style
 2) Por id (#) => estilização unica
 3) Por class (.) => estilização p/ varios
 4) Por elemento
*/
p{
    color: green;
    font-size: 20px;
    text-decoration: underline;
}
body{
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3{
    color: white;
}
/*Uso o id quando quero estilizar um elemento específico*/
#meu-h1{
    font-weight: 100;
}
/*Class pode ser usada em vários elementos*/
.cabecalho {
    color:red;
    text-decoration: underline;
    font-weight: 900;
}
.quadrado{
    width: 250px;
    height: 250px;
    background-color: yellow;
    border-radius: 100px;
}
.banner{
    width: 300px;
}